.container  {
    max-width: 540px;
    padding: 0 15px;
    margin: 0 auto;
}
.about {
    padding: 80px 0;
    background-color: rgb(35, 35, 35);
    &__content{
        text-align: center;
        h2{
           font-size: 48px;
           margin: 0;
           line-height: 65px;
           letter-spacing: 0.1em; 
           text-transform: uppercase;
           font-weight: 300;
          span{
              color: #D1A954;
          }
        }
        &_descr {
            text-align: center;
            margin-top: 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .text{
                h3{
                    margin: 0;
                    font-weight: 700;
                    font-size: 21px;
                    line-height: 29px;
                    text-transform: uppercase;
                }
                p{
                    margin: 40px 0 0 0;
                    font-size: 14px;
                }
            }
            .number{
                margin: 0 auto;
                margin-top: 27px;
                h3{
                    margin: 0;
                    font-weight: 700;
                    font-size: 21px;
                    line-height: 29px;
                    text-transform: uppercase;
                }
                p{
                    margin-top: 15px;
                    font-weight: 700;
                    font-size: 16px;
                    text-align: left;
                    span{
                        color: #D1A954;
                    }
                }
                &__icon {
                    margin-top: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                   &_chair{
                       margin-right: 50px;
                       align-self: center;
                       text-align: center;
                    }  
                    &_curve{
                        text-align: center;
                    }      
                }
            }
            .foto{
                display: none;
            }
        }
    }
}

@media (min-width: 710px){
    .container {
        max-width: 720px;
    }
    .about {
        padding: 100px 0;
        &__content {
            &_descr {
                text-align: left;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                .text{
                    max-width: 440px;
                }
                .number{
                    margin: 0 auto;
                    margin-left: 15px;
                    text-align: left;
                    
                    h3{
                        margin: 0;
                    }
                    &__icon {
                        display: block;
                        margin-top: 20px;
                        flex-direction: column;
                        font-size: 16px;
                        &_chair{
                            text-align: left;
                            margin-right: 0;
                        }
                        &_curve{
                            text-align: left;
                            margin-top: 25px;
                        }      
                    }
                }
            }
        }
    }
    
}
@media (min-width: 860px){
    .container {
        max-width: 960px;
    }
    .about {
        padding: 150px 0;
        &__content {
            max-width: 690px;
            margin: 0 auto;
            &_descr {
                margin-top: 100px;
                .number{
                    margin-left: 30px;
               }
            }
        }
    }
    
}
@media (min-width: 1090px){
    .container {
        max-width: 1140px;
    }
    .about {
        &__content{
            max-width: 1110px;
            &_descr {
                max-width: 1110px;
                justify-content: space-between;
                flex-wrap: wrap;
                .number{
                    margin-right: 15px;
                }
                .foto{
                    display: block;
                }
            }
        }
    }
}