.container  {
    max-width: 540px;
    padding: 0 15px;
    margin: 0 auto;
}
.opinion {
    background-color: rgb(35, 35, 35);
    text-align: center;
    padding: 170px 0 140px 0;
    &__content{
        background-image: url('../img/bg4.png');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        padding: 150px 140px;
        &_years{
            
            span{
                font-size: 72px;
                font-weight: 700;
                letter-spacing: 0.1em;
                color: #D1A954;
                margin-bottom: 40px;
            }
        }
        &_text{
            width: 300px;
            p{
                margin-top: 25px;
                font-size: 25px;
                font-weight: 700;
                line-height: 37px;
            }
        }
    }
}

@media (min-width: 575px){
    .container {
        max-width: 720px;
    }
    .opinion {
        &__content{
            flex-wrap: nowrap;
            max-width: 570px;
            margin: 0 auto;
            &_text{
                margin-left: 20px;
            }
       }
    }

}
@media (min-width: 860px){
    .container {
        max-width: 960px;
    }
    .opinion {
        &__content{
            flex-wrap: nowrap;
            max-width: 690px;
            margin: 0 auto;
            &_text{
                width: 100%;
                margin-left: 90px;
                text-align: left;
            }
        }
    }
}
@media (min-width: 1000px) {
    .container {
        max-width: 1140px;
    } 
    .opinion {
        background-color: rgb(35, 35, 35);
        &__content{
            flex-wrap: nowrap;
            max-width: 1140px;
            margin: 0 auto;
            &_text{
                margin-left: 126px;
            }
        }
    }
}