@font-face {
    font-family: 'Open Sans Condensed', sans-serif;
    src: url('../fonts/OpenSans-CondBold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Open Sans Condensed', sans-serif;
    src: url('../fonts/OpenSans-CondLightItalic.ttf');
    font-weight: 400;
    font-style: italic; 
}
@font-face {
    font-family: 'Open Sans Condensed', sans-serif;
    src: url('../fonts/OpenSans-CondLight.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Open Sans Condensed', sans-serif;
    src: url('../fonts/OpenSans-CondLight.ttf');
    font-weight: 400;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff
}
.container  {
    max-width: 540px;
    padding: 0 15px;
    margin: 0 auto;
}
h1 {
    text-transform: uppercase;
    font-size: 55px;
    margin: 105px 0 50px 0;
    letter-spacing: 0.1em;
}
p{
    font-size: 14px;
    line-height: 150%;
    margin: 0;
}
header {
    background-image: url('../img/bg1-s.jpg');
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 105px;
    position: relative;
    .contacts{
        display: none;
        background: rgba(51, 51, 51, 0.75);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        padding: 60px;
        flex-direction: column;
        justify-content: flex-end;
        .text{
            display: flex;
            align-items: center;
            writing-mode: vertical-lr;
            transform: scale(-1);
            color: #c4c4c4;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 2px;
            &::before{
                content: '';
                display: block;
                width: 3px;
                height: 80px;
                background-color: #c4c4c4;
                margin-bottom: 40px;
                margin-top: 10px;
            }
        }
        .socials{
            a{
                display: block;
                width: 26px; 
                height:26px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                margin-top: 30px;
                &.insta{
                    background-image:url('../img/icons/inst.svg');
                    &:hover{
                        background-image:url('../img/icons/inst-hover.svg');

                    }
                }
                &.fb{
                    background-image:url('../img/icons/fb.svg');
                    &:hover{
                        background-image:url('../img/icons/fb-hover.svg');
                    }
                }
                &.vk{
                    background-image:url('../img/icons/vk.svg');
                    &:hover{
                        background-image: url('../img/icons/vk-hover.svg');
                    }
                }
                &.youtube{
                    background-image:url('../img/icons/youtube.svg');
                    &:hover{
                        background-image: url('../img/icons/youtube-hover.svg');
                    }
                }
                
            }
        }
    }
    .menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        nav{
            background: #333;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 140px 40px 0;
            transform: translateX(-100%);
            transition: 1s;
            a{
                font-size: 24px;
                text-transform: uppercase;
                letter-spacing: 1.55px;
                margin-bottom: 30px;
                line-height: 32px;
            }
            .close {
                background-image: url("../img/icons/close.svg");
                background-repeat: no-repeat;
                background-position: center center;
                position: absolute;
                width: 32px;
                height: 32px;
                top: 30px;
                right: 30px;
            }

        }
        .burger-btn {
            background: transparent;
            border: none;
            width: 40px;
            height: 40px;
            padding: 0;
        }
        a {
            color: #fff;
            font-size: 16px;
            text-decoration: none;
            font-weight: 700;
            &.phone {
                &::after{
                    content: '';
                    display: block;
                    height: 2px;
                    background-color: #D1A954;
                } 
            }
        }
    }

    .main-top {
        max-width: 565px;
        margin: 0 auto;
        .poster-btn{
            width: 160px;
            height: 50px;
            background: #D1A954;
            border: none;
            color: white;
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-weight: 700;
            margin-top: 45px;
        }
    }

}

@media (min-width: 575px){
    .container {
        max-width: 720px;
    }
    h1{
        margin-top: 160px;
    }
    header {
        padding-bottom: 250px;
        background-image: url('../img/bg1-m.jpg');
        background-size: cover;
    }
}
@media (min-width: 860px){
    .container {
        max-width: 960px;
    }
    h1{ 
        margin-top: 230px;
    }
    header {
        background-image: url('../img/bg1-l.jpg');
        background-size: cover;
        padding-bottom: 360px;
        .contacts{
            display: flex;
        }
        .menu{
            flex-wrap: wrap;
            justify-content: center;
            nav {
                padding: 0;
                width: 100%;
                transform: translateX(0%);
                background-color: transparent;
                position: static;
                flex-direction: row;
                margin: 0 auto;
                justify-content: center;
                margin-bottom: 50px;
                a{
                    font-size: 14px;
                    margin: 0 12px;
                }
                .close{
                    display: none;
                }
            }
            .burger-btn{
                display: none;
            }
        }
    }
}

@media (min-width: 1000px) {
    .container {
        max-width: 1140px;
    } 
    header {
        background-image: url('../img/bg1-xl.jpg');
        background-size: cover;
        .menu {
            justify-content: space-between;
            align-items: center;
            nav{
                margin: 0;
                width: auto;
                min-width: 825px;
                justify-content: space-between;
                a{
                    margin: 0;
                }
            }
        }
    }
}


@import 'section/about';
@import 'section/staging';
@import 'section/opinion';
@import "section/partner";
@import 'section/maecenas';